<nav class="navbar navbar-expand-lg bg-success">

	<a class="navbar-brand" href="#pagePrincipale" style="color: white;">Administration Collegue</a>
		
	<ul class="navbar-nav ml-auto">
		<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="/listerCollegues" style="color: white;">Lister</a></li>
		<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="#bouton2" style="color: white;">Un autre bouton</a></li>
		<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3" href="#bouton3" style="color: white;">Encore un autre</a></li>
	</ul>

</nav>