<nav class="navbar navbar-expand-lg bg-success">
	<a class="navbar-brand" routerLink="listerCollegues" style="color: white;">Administration Collegue</a>

	<ul class="navbar-nav ml-auto">
		<li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3" routerLink="listerCollegues" style="color: white;">
				Accueil
			</a>
		</li>
		<li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3" routerLink="gallerie" style="color: white;">
				Gallerie
			</a>
		</li>
		<li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3" routerLink="aPropos" style="color: white;">
				A Propos
			</a>
		</li>
		<li class="nav-item mx-0 mx-lg-1">
			<a class="nav-link py-3 px-0 px-lg-3" routerLink="ajouterCollegue" style="color: white;">
				Ajouter un collegue
			</a>
		</li>
	</ul>
</nav>