<div>
	<label><b>Recherche par noms :</b></label>
	<input type="text" class="form-control" #saisie placeholder="Ex: M01">
	<button class="btn btn-success" (click)="rechercher(saisie.value)">Rechercher</button>
	<button class="btn btn-success" (click)="masquer()" [disabled]="!rechercheEnCours">Masquer</button>
</div>

<ng-container *ngIf="rechercheEnCours==true">
	<li class="list-group-item" *ngFor="let matricule of listeMatricules" (click)="recupererCollegue(matricule)">
		<p>{{matricule}}</p>
	</li>
</ng-container>

{{msgErreur}}