<div class="row" style="margin-top:5% ;">
	<div class="col-sm">
		<ul class="list-group">
			<!-- Liste des collègues -->
			<app-recherche-collegue-par-nom></app-recherche-collegue-par-nom>
		</ul>
	</div>
	<div class="col-sm">
		<!-- un collegue tout seul -->
		<div style="background-color: #e0e0e0d4;border-radius: 4%; padding: 20px;">
			<h2><u>{{unObjetCollegueFourni.nom}} {{unObjetCollegueFourni.prenom}}</u></h2>
			<app-collegue [col]="unObjetCollegueFourni"></app-collegue>
		</div>
	</div>
</div>