<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{col.photoUrl}}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
						<h4>Profil Collegue :</h4>

						<i class="glyphicon glyphicon-pushpin"></i>
						<label> Matricule :</label>
						{{col.matricule}}
						<br />

						<i class="glyphicon glyphicon-user"></i>
						<label> Nom :</label>
						{{col.nom}}
						<br />

						<i class="glyphicon glyphicon-user"></i>
						<label> Prenom :</label>
						{{col.prenom}}
						<br />

						<i class="glyphicon glyphicon-hourglass"></i>
						<label> Date de naissance :</label>
						{{col.dateDeNaissance}}
						<br />

						<i class="glyphicon glyphicon-envelope"></i>
						<label> Email :</label>
						{{col.email}}
						<br />
						
                        <!-- Split button -->
                        <div class="btn-group">
							<button (click)="ajouter()" type="button" class="btn btn-primary" > Creer un nouveau collegue </button>
							<button (click)="modifier()" type="button" class="btn btn-primary"> Modifier </button>
							<button (click)="unSuperTest()" type="button" class="btn btn-primary"> Teste </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
